.introduction {
  border: 1px solid LightGrey;
  padding: 40px 0px;
  position: relative;
  text-align: center;
  width: 100%;
  border-radius: 15px;
}
.intro-books {
  text-align: left;
  color: white;
  text-decoration: none;
}
.intro-books li {
  list-style: none;
}
h3.intro-books, h2.intro-books{
  padding-left: 20px;
}
.about-ramona {
  border: 1px solid LightGrey;
  padding-top: 40px;
  position: relative;
  text-align: center;
  width: 100%;
  border-radius: 15px;
}
.second_header {
  text-align: left;
  padding-left: 20px;
}
.introduction_text p {
	text-align: center;
}
.new-contact {
  text-align: center;
}
.ramona_pic {
	display: block;
  margin-left: auto;
	height: 200px;
  padding-right: 20px;
  padding-bottom: 35px;
}
.envelope-text {
    text-align: left;
    bottom: 200px;
    left: 15px;
    position: relative;
    z-index: 2;
}
.envelope {
  height: 70px;
  float: left;
  bottom: 215px;
  position: relative;
  padding-left: 20px;
  z-index: 3;
}
.twitter_pic {
  bottom: 215px;
  position: relative;
  padding-left: 20px;
	width: 64px;
	height: 58px;
  float: left;
}
.twitter-text {
}
.twitter-text-link {
  text-decoration:none;
  color: inherit;
  text-align: left;
  padding-top: 20px;
  text-decoration: none;
  bottom: 200px;
  left: 15px;
  position: relative;
}
