.first-box {
  border: 1px solid LightGrey;
  padding: 0px 0px;
  position: relative;
  text-align: center;
  width: 100%;
  border-radius: 15px;
  margin-bottom: 10px;
}
.second-box {
  border: 1px solid LightGrey;
  padding: 40px 0px;
  position: relative;
  text-align: left;
  width: 100%;
  border-radius: 15px;
  margin-bottom: 10px;
}
.second-box h2, p {
  position: relative;
  top: 0px; /* This will move the text 20px up */
  left: 0px; /* This will move the text 20px to the right */
  padding: 10px 10px;
}
.second-box p {
  font-size: 22px;
}
.button {
  font-size: 1em;
  padding: 10px 10px;
  color: inherit;
  border: 1px solid white;
  border-radius: 15px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button:hover {
  background: white;
  border: 1px Azure;
  color: black;
  text-shadow: none;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
  z-index: 5;
}
.popup {
  margin: 70px auto;
  padding: 20px;
  background: white;
  border-radius: 15px;
  width: 50%;
  height: 70%;
  position: relative;
  transition: all 5s ease-in-out;
}
.popup h2 {
  margin-top: 0;
  color: inherit;
  font-family: inherit;
  text-decoration: none;
  text-shadow: none;
  font-size: 33px;
}
.popup-text {
  text-decoration: none;
  padding: 0px 5px;
  text-shadow: none;
  color: inherit;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: none;
  color: inherit;
}
.popup .close:hover {
  color: white;
}
.popup .content {
  max-height: 75%;
  overflow: auto;
}
@media screen and (max-width: 1000px){
.box {
    width: 70%;
  }
.popup {
    width: 70%;
  }
}
.third-box {
  border: 1px solid LightGrey;
  padding-bottom: 40px;
  position: relative;
  text-align: center;
  width: 100%;
  border-radius: 15px;
  margin-bottom: 10px;
}
.fourth-box {
  border: 1px solid LightGrey;
  padding: 40px 0px;
  position: relative;
  text-align: center;
  width: 100%;
  border-radius: 15px;
  margin-bottom: 10px;
}
