.about-ramona {
  border: 1px solid LightGrey;
  padding-top: 40px;
  position: relative;
  text-align: center;
  width: 100%;
  border-radius: 15px;
}

.books {
  padding: 40px 0px;
  position: relative;
  text-align: center;
  width: 100%;
  margin-top: 20px;
  border-radius: 15px;
}

.books a {
  background: transparent;
  border: 1px solid white;
  border-radius: 3px;
  color: #00b300;
  display: inline-block;
  padding: 14px;
  text-decoration: none;
  margin: 10px;
  border-radius: 15px;
  font-size: 18px;
}

.books a:hover {
  background: white;
  border: 1px Azure;
  color: black;
  text-shadow: none;
  font-size: 18px;
}
