/* the levels of which one overides what, is the p or h1 elements such as p {}
 not needed any additional coding in html, class noted as .description HTML
 coded as class="description", then the id which is noted as #introduction HMTL coded as
 id="introduction" Above are the 'base elements, so it is easier to code commonly
 and to have the site to be 'uniform' */



/*First Box ENDS*/

/* first Box STARTS */

/*about ramona STARTS */
.about-ramona {
  border: 1px solid LightGrey;
  padding-top: 40px;
  position: relative;
  text-align: center;
  width: 100%;
  border-radius: 15px;
}

/*buttons with back STARTS*/

.books {
  /*include the boarder line if u want a border around the box, */

  padding: 40px 0px;
  position: relative;
  text-align: center;
  width: 100%;
  margin-top: 20px;
  border-radius: 15px;

}

.books a {
  background: transparent;
  border: 1px solid white;
  border-radius: 3px;
  color: #00b300;
  display: inline-block;
  padding: 14px;
  text-decoration: none;
  margin: 10px;
  border-radius: 15px;
  font-size: 18px;
}

.books a:hover {
  background: white;
  border: 1px Azure;
  color: black;
  text-shadow: none;
  font-size: 18px;
}

/*buttons with back ENDS*/

/*Second box ENDS*/
